<div class="general_form_wrapper">	
	<% if @user.errors.messages.length > 0 %>
		<div class="error_messages">
			<%= @user.errors.full_messages %>
		</div>
	<% end %>

	<%= form_for @user do |f| %>
		<div class="field">
			<%= f.label :login, "id:" %>
			<% if @user.new_record? %>
				<%= f.text_field :login, :class => "text" %>
			<% else %>
				<%= @user.login %>
			<% end %>
		</div>
		
		<div class="field">
			<%= f.label :password, "pw:" %>
			<%= f.password_field :password, :class => "text" %>
		</div>
		
		<div class="field">
			<%= f.label :password_confirmation, "pw_c:" %>
			<%= f.password_field :password_confirmation, :class => "text" %>
		</div>

		<div class="field">
			<%= f.label :name, "name:" %>
			<%= f.text_field :name, :class => "text" %>
		</div>

		<div class="actions">
			<%= f.submit("submit", :class => "submit") %>
		</div>
	<% end %>
</div>
