<!DOCTYPE html>
<html>
<head>
  <title>CmmTodo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="flash_messages">
    <%= flash_messages %>
  </div>

  <div id="header">
    <%= link_to "Home", root_path %>
    <% if logged_in? %>
      <%= link_to "(#{@current_user.login})Logout", logout_path %>
      <%= link_to "UserInfo", user_path(@current_user) %>
    <% else %>
      <%= link_to "Login", login_path %>
      <%= link_to "New User", new_user_path %>
    <% end %>
  </div>

  <div id="section">
    <%= yield %>
  </div>

  <div id="footer">
  </div>

</body>
</html>
